client/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BankServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:9090/?xsd=1"/>
</xsd:schema>
</types>
<message name="DHToEuro">
<part name="parameters" element="tns:DHToEuro"/>
</message>
<message name="DHToEuroResponse">
<part name="parameters" element="tns:DHToEuroResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<message name="getComptes">
<part name="parameters" element="tns:getComptes"/>
</message>
<message name="getComptesResponse">
<part name="parameters" element="tns:getComptesResponse"/>
</message>
<portType name="BankService">
<operation name="DHToEuro">
<input wsam:Action="http://ws/BankService/DHToEuroRequest" message="tns:DHToEuro"/>
<output wsam:Action="http://ws/BankService/DHToEuroResponse" message="tns:DHToEuroResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://ws/BankService/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://ws/BankService/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
<operation name="getComptes">
<input wsam:Action="http://ws/BankService/getComptesRequest" message="tns:getComptes"/>
<output wsam:Action="http://ws/BankService/getComptesResponse" message="tns:getComptesResponse"/>
</operation>
</portType>
<binding name="BankServicePortBinding" type="tns:BankService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="DHToEuro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankServiceService">
<port name="BankServicePort" binding="tns:BankServicePortBinding">
<soap:address location="http://localhost:9090/"/>
</port>
</service>
</definitions>